In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
#  Let's check how many data points we have
concrete_data.shape

(1030, 9)

In [4]:
# missing values
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

In [11]:
# Import Keras
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
# Build a Neural Network


# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
# build the model
model = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
# 1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

Train and Test the Network

In [17]:
# build the model
model = regression_model()

# fit the model
model.fit(X_train, y_train, epochs=50, verbose=1)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/50

2022-01-27 13:49:45.462876: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2022-01-27 13:49:45.476357: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2494050000 Hz
2022-01-27 13:49:45.477392: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x561d92af9c10 executing computations on platform Host. Devices:
2022-01-27 13:49:45.477442: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2022-01-27 13:49:45.572221: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

721/721 [==============================] - 0s 404us/step - loss: 3372.6475
Epoch 2/50
721/721 [==============================] - 0s 86us/step - loss: 1693.4682
Epoch 3/50
721/721 [==============================] - 0s 104us/step - loss: 1518.2622
Epoch 4/50
721/721 [==============================] - 0s 87us/step - loss: 1393.2631
Epoch 5/50
721/721 [==============================] - 0s 87us/step - loss: 1284.4158
Epoch 6/50
721/721 [==============================] - 0s 82us/step - loss: 1194.0814
Epoch 7/50
721/721 [==============================] - 0s 55us/step - loss: 1099.5984
Epoch 8/50
721/721 [==============================] - 0s 58us/step - loss: 1023.4641
Epoch 9/50
721/721 [==============================] - 0s 53us/step - loss: 954.3046
Epoch 10/50
721/721 [==============================] - 0s 51us/step - loss: 888.5284
Epoch 11/50
721/721 [==============================] - 0s 49us/step - loss: 833.5776
Epoch 12/50
721/721 [==============================] - 0s 39us/step - loss: 784.3777
Epoch 13/50
721/721 [==============================] - 0s 48us/step - loss: 738.3320
Epoch 14/50
721/721 [==============================] - 0s 36us/step - loss: 698.5213
Epoch 15/50
721/721 [==============================] - 0s 36us/step - loss: 657.3395
Epoch 16/50
721/721 [==============================] - 0s 46us/step - loss: 624.5137
Epoch 17/50
721/721 [==============================] - 0s 38us/step - loss: 591.5943
Epoch 18/50
721/721 [==============================] - 0s 47us/step - loss: 561.0743
Epoch 19/50
721/721 [==============================] - 0s 38us/step - loss: 534.1625
Epoch 20/50
721/721 [==============================] - 0s 47us/step - loss: 510.4443
Epoch 21/50
721/721 [==============================] - 0s 37us/step - loss: 484.2154
Epoch 22/50
721/721 [==============================] - 0s 44us/step - loss: 463.8824
Epoch 23/50
721/721 [==============================] - 0s 47us/step - loss: 441.1173
Epoch 24/50
721/721 [==============================] - 0s 37us/step - loss: 422.5737
Epoch 25/50
721/721 [==============================] - 0s 46us/step - loss: 403.4014
Epoch 26/50
721/721 [==============================] - 0s 39us/step - loss: 390.7490
Epoch 27/50
721/721 [==============================] - 0s 45us/step - loss: 371.7620
Epoch 28/50
721/721 [==============================] - 0s 37us/step - loss: 357.1270
Epoch 29/50
721/721 [==============================] - 0s 47us/step - loss: 342.0089
Epoch 30/50
721/721 [==============================] - 0s 47us/step - loss: 328.8892
Epoch 31/50
721/721 [==============================] - 0s 36us/step - loss: 317.4534
Epoch 32/50
721/721 [==============================] - 0s 46us/step - loss: 305.0479
Epoch 33/50
721/721 [==============================] - 0s 42us/step - loss: 293.5206
Epoch 34/50
721/721 [==============================] - 0s 44us/step - loss: 282.5102
Epoch 35/50
721/721 [==============================] - 0s 50us/step - loss: 272.2621
Epoch 36/50
721/721 [==============================] - 0s 41us/step - loss: 265.0059
Epoch 37/50
721/721 [==============================] - 0s 46us/step - loss: 253.7917
Epoch 38/50
721/721 [==============================] - 0s 38us/step - loss: 244.6534
Epoch 39/50
721/721 [==============================] - 0s 48us/step - loss: 240.1683
Epoch 40/50
721/721 [==============================] - 0s 47us/step - loss: 230.6094
Epoch 41/50
721/721 [==============================] - 0s 41us/step - loss: 222.0169
Epoch 42/50
721/721 [==============================] - 0s 48us/step - loss: 215.1371
Epoch 43/50
721/721 [==============================] - 0s 50us/step - loss: 208.5395
Epoch 44/50
721/721 [==============================] - 0s 37us/step - loss: 203.7451
Epoch 45/50
721/721 [==============================] - 0s 49us/step - loss: 199.9060
Epoch 46/50
721/721 [==============================] - 0s 43us/step - loss: 191.1228
Epoch 47/50
721/721 [==============================] - 0s 38us/step - loss: 187.2391
Epoch 48/50
721/721 [==============================] - 0s 44us/step - loss: 182.3480
Epoch 49/50
721/721 [==============================] - 0s 37us/step - loss: 177.7755
Epoch 50/50
721/721 [==============================] - 0s 49us/step - loss: 173.2855

In [18]:
# evaluate the model
eval = model.evaluate(X_test, y_test, verbose=0)
eval

162.8982522217587

In [ ]:
# predict model

yprediction = model.predict(X_test)

In [20]:
#  compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

from sklearn.metrics import mean_squared_error

In [21]:
mean_squared = mean_squared_error(y_test, yprediction)
mean = np.mean(mean_squared)
std = np.std(mean_squared)

print("mean :" , mean, "std:" , std)

mean : 162.89824156304044 std: 0.0

In [24]:
# Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.
tot_mean_squared_errors = 50
epochs= 50
mean_squared_errors = []
for i in range(0, tot_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    eval1 = model.evaluate(X_test, y_test, verbose=0)
    print("eval1 "+str(i+1)+": "+str(eval1))
    yprediction = model.predict(X_test)
    mean_squared = mean_squared_error(y_test, yprediction)
    mean_squared_errors.append(mean_squared)
    
mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
std = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(tot_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(std))

eval1 1: 93.43464338432238
eval1 2: 120.00378309330122
eval1 3: 109.53469493088213
eval1 4: 122.0878265529003
eval1 5: 121.14121643856505
eval1 6: 108.07270346335994
eval1 7: 131.11025013352676
eval1 8: 99.67475335574845
eval1 9: 120.13694634792489
eval1 10: 113.45257514040061
eval1 11: 103.29123122329464
eval1 12: 100.4605378333033
eval1 13: 117.16421812483408
eval1 14: 115.8755866485892
eval1 15: 108.75493658862068
eval1 16: 105.66599965018362
eval1 17: 106.25307395465937
eval1 18: 101.74922397453037
eval1 19: 94.44887797037761
eval1 20: 114.46608287231051
eval1 21: 95.90304874062153
eval1 22: 104.24611115687102
eval1 23: 107.00877893935515
eval1 24: 103.2643262005161
eval1 25: 106.77057985966259
eval1 26: 98.63858007535966
eval1 27: 117.54074496667361
eval1 28: 109.6686520375866
eval1 29: 107.76732751543854
eval1 30: 108.50992421270574
eval1 31: 128.06644002673696
eval1 32: 109.75437116159976
eval1 33: 101.87588318266144
eval1 34: 107.34245092891952
eval1 35: 112.4407221229331
eval1 36: 122.57665237871188
eval1 37: 113.03425847519563
eval1 38: 113.62195394571545
eval1 39: 106.33242336137396
eval1 40: 110.92517823154486
eval1 41: 114.21486423085037
eval1 42: 109.2842842027979
eval1 43: 104.39880077275643
eval1 44: 103.47856083348346
eval1 45: 112.98485157790694
eval1 46: 115.24606172629545
eval1 47: 94.97718366604407
eval1 48: 61.33943309598756
eval1 49: 50.46770857530119
eval1 50: 52.50601537019304


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 106.2193056994694
Standard Deviation: 15.394099803154846